*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Roundedm, sans-serif;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: minmax(50px, auto) repeat(5, 50px);
}

.base-operands {
  background-color: rgba(232, 247, 99, 0.8);
}

.numbers {
  background-color: rgba(114, 213, 226, 0.8);
}
button {
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.span-two {
  grid-column: span 2;
}
.output {
  background-color: rgba(0, 0, 0, 0.75);
  grid-column: 1/-1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 110px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
